@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

html{
  background-color: #372963;
  color: #A0E3FF;
  font-family: 'Fira Code', monospace;
}

hr {
  border: none;
  color:#c592ff;
  background-color:#c592ff;
  height:1px;
}
li {
  list-style-type: none;
}

.App {
  text-align: center;
  display: grid;
}

.header {
  font-family: 'Fira Code', monospace;
  font-size: 50px;
}

.responsive-image {
  height: auto;
  width: 25%;
  border: 5px;
  border-radius: 100%;
  box-shadow: 0px 0px 25px 20px #00FF9C;
}

.professions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 40px;
  font-size: 20px;
}

@media (max-width: 600px) {
  .header {
    font-size: 25px;
  }
  .responsive-image {
    height: auto;
    width: 50%;
    box-shadow: 0px 0px 12px 10px #00FF9C;
  }

  .professions {
    justify-content: center;
    font-size: medium;
  }
}


/* 
#372963
#c592ff
#100D23
#00FF9C
#FF4081
#A0E3FF 
*/